<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>电脑销售</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" th:href="@{../layui/css/layui.css}" media="all" />
        <link rel="stylesheet" th:href="@{../layui_ext/dtree/dtree.css}" media="all" />
        <link rel="stylesheet" th:href="@{../layui_ext/dtree/font/dtreefont.css}"  media="all" />
    </head>


    <body class="childrenBody">
    <!-- 查询条件开始 -->
    <fieldset class="layui-elem-field layui-field-title" >
        <legend>查询条件</legend>
    </fieldset>
    <blockquote >
        <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">型号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="computerType"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>

                    </div>
                </div>
                </div>
            </div>

        </form>
    </blockquote>
    <!-- 查询条件结束-->
        <table class="layui-hide" id="test" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
              <!--  <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>-->

            </div>
        </script>
        <script type="text/html" id="barDemo"  style="display: none;">
            <button type="button" lay-event="update" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-edit"></span>销售</button>
<!--
            <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>报废</button>
-->
        </script>
        <script th:src="@{../plugin/jquery/jquery.min.js}"></script>
        <script th:src="@{../layui/layui.all.js}" charset="utf-8"></script>
        <!-- 添加和修改的弹出层开始 -->
    <div style="display: none;padding: 5px" id="addOrUpdateDiv">
        <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
            <div class="layui-form-item">
                <label class="layui-form-label" >当前库存数量</label>
            <div class="layui-input-inline">
                <input type="text"  class="layui-input" ID="salecount" name="count" readonly="readonly">
            </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="id">
                <label class="layui-form-label">客户</label>
                <div class="layui-input-inline">
                    <select name="customerId" id="customerid"   lay-filter="required">
                        <option value="0"></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input"  id="number"  name="salenumber" lay-verify="numbernull|number" placeholder="请输入卖出的数量" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">销售价</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input"  name="price" lay-verify="number" placeholder="请输入卖出的价格" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea  name="remark" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center;">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                    <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
                </div>
            </div>
        </form>
    </div>
        <!-- 添加和修改的弹出层结束 -->
        <script th:inline="none">
            var table;
            var tableIns;
            layui.use(['jquery','form','table','layer'], function(){
                var form=layui.form;
                 table=layui.table;

                var layer=layui.layer;
                 tableIns=table.render({
                    contentType: 'application/json'
                    ,method: 'post'
                    ,elem: '#test'
                    ,url:'/sale/loadStore'
                    ,groups: 1 //只显示 1 个连续页码
                    ,first: false //不显示首页
                    ,last: false //不显示尾页
                    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                        title: '提示'
                        ,layEvent: 'LAYTABLE_TIPS'
                        ,icon: 'layui-icon-tips'
                    }]
                    ,title: '用户数据表'
                     ,cols: [ [

                         {field:'computerType', title:'类型' }
                         ,{field:'colour', title:'颜色' }
                         ,{field:'config', title:'配置'  }
                         ,{field:'providerId', title:'供应商ID'  }
                         ,{field:'price', title:'单价'  }
                         ,{field:'count', title:'数量'  }
                         ,{field:'remark', title:'备注'  }

                         ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200}

                     ] ]
                    ,page: true

                });


                //头工具栏事件
                table.on('toolbar(test)', function(obj){
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = obj.data; //获得当前行数据
                    switch(obj.event){
                        case 'getCheckData':
                            var data = checkStatus.data;
                            layer.alert(JSON.stringify(data));
                            break;
                        case 'getCheckLength':
                            var data = checkStatus.data;
                            layer.msg('选中了：'+ data.length + ' 个');
                            break;
                        case 'isAll':
                            layer.msg(checkStatus.isAll ? '全选': '未全选');
                            break;

                        //自定义头工具栏右侧图标 - 提示
                        case 'LAYTABLE_TIPS':
                            layer.alert('这是工具栏右侧自定义的一个图标按钮');
                            break;
                        case 'add':
                            openAddLayer();
                            break;

                    };
                });
                var mainIndex;
                var url;

                //模糊查询
                form.on("submit(doSearch)",function(data){
                    tableIns.reload({
                        where:data.field,
                        page:{
                            curr:1
                        }
                    });
                    return false;
                });
                //打开添加的弹出层
                function openAddLayer(){
                    mainIndex=layer.open({
                        type:1,
                        content:$("#addOrUpdateDiv"),
                        area:['500px','400px'],
                        title:'报损',
                        success:function(){
                            $("#dataFrm")[0].reset();
                            $("#parentId").val("");
                            url="/store/baosun";
                           /* //初始化排序码
                            $.get("/menu/loadMenuMaxOrderNum",function(res){
                                $("#sortOrder").val(res.value);
                            });*/

                        }
                    });
                }
                form.verify({
                    numbernull: function(value){
                        
                        if(value<1){
                            return '销售数量不能小于1';
                        }

                        if ($("#salecount").val()<value){
                            return '销售数量不能大于库存';
                        }
                    }
                });
                //打开修改的弹出层
                function openUpdateRoleLayer(data){
                    mainIndex=layer.open({
                        type:1,
                        content:$("#addOrUpdateDiv"),
                        area:['1000px','500px'],
                        title:'修改部门',
                        success:function(){
                            $("#dataFrm")[0].reset();
                            //装载新的数据
                            form.val("dataFrm",data);
                            url="/sale/pcsale";
                            initProviderSelect();
                            //禁用供应商和商品的下拉框
                            $(".mydiv").show();

                        }
                    });
                }

//初始化添加和修改页面的下拉列表
                function initProviderSelect(){

                    $.post("/customer/loadAllCustomer",function(res){
                        var data=res.data;
                        var dom=$("#customerid");
                        var html='<option value="0">请选择客户</option>'
                        $.each(data,function(index,item){
                            html+='<option value="'+item.id+'">'+item.customername+'</option>'
                        });
                        dom.html(html);

                        form.render("select");
                    });
                }




                form.on("submit(doSubmit)",function(data){
                    
                    $.post(url,data.field,function(res){
                        if(res.flag){
                            alert(res.errorMsg);
                            tableIns.reload();
                        }
                        layer.msg(res.msg);
                        layer.close(mainIndex);
                    })
                    return false;
                });




                //监听行工具事件
                table.on('tool(test)', function(obj){
                    var data = obj.data;
                    //console.log(obj)
                    
                    if(obj.event === 'del'){
                        layer.confirm('真的删除行么', function(index){
                            obj.del();
                            layer.close(index);
                            
                            $.ajax({
                                type : 'post',
                                url:  "/brand/deleteBrand",
                                data: {
                                    id: data.id
                                },
                                success : function(result) {
                                    if (result.flag) {
                                        alert(result.errorMsg);
                                        table.reload();
                                        $.treeTable.refresh();
                                    } else {
                                    }
                                }
                            });

                        });
                    } else if(obj.event === 'update'){
                        openUpdateRoleLayer(data);
                    }else if (obj.event === 'delete'){
                        baosun(data);
                    }


                });
                function baosun(data){
                    layer.confirm('你确定要报损吗?', {icon: 3, title:'提示'}, function(index){
                        $.post("/store/baofei",{id:data.id},function(res){
                            if(res.flag){
                                tableIns.reload();
                            }
                            layer.msg(res.errorMsg);
                        })
                        layer.close(index);
                    });
                }
            });


        </script>

    </body>
</html>