<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydesign.mycomputerscm.mapper.RoleMapper">
	<!-- 根据角色ID查询当前角色拥有的所有的权限或菜单ID -->
	<select id="queryRolePermissionIdsByRid" resultType="java.lang.String">
		select menu_id from sys_rolemenu where role_id=#{value}
	</select>
	<delete id="deleteRoleMenuByRid">
		delete from sys_rolemenu where role_id=#{value}
	</delete>
    <delete id="deleteRoleUserByUid">
		delete from sys_roleuser where user_id =#{id}
	</delete>
    <!-- 保存角色和菜单权限之间的关系 -->
	<insert id="saveRoleMenu">
		insert into sys_rolemenu(role_id,menu_id) values(#{role_id},#{menu_id})
	</insert>
	<insert id="insertUserRole">
		insert into sys_roleuser(user_id,role_id) values(#{uid},#{rid})
	</insert>
	<!-- 查询当前用户拥有的角色ID集合 -->
	<select id="queryUserRoleIdsByUid" resultType="java.lang.String">
		select role_id from sys_roleuser where user_id=#{value}
	</select>
</mapper>
